<!-- My Brand -->
<MudContainer MaxWidth="MaxWidth.Medium" Class="pa-5 augReFont">
    <MudText Class="d-flex justify-center" Color="Color.Primary" Typo="Typo.h4">Những đối tác của chúng tôi?</MudText>
    <MudGrid Class="pa-3">
        <MudItem xs="12">
                <!-- Slider main container -->
                <div class="swiper swiperJsBrand">
                    <!-- To make slider we need to add style for swiper-wrapper is: transition-timing-function: linear -->
                    <div class="swiper-wrapper" style="transition-timing-function: linear;">
                        @foreach (var item in models)
                        {
                            <div class="swiper-slide">
                                <img src="@item.lineOne">
                            </div>
                        }
                    </div>
                </div>
        </MudItem>
        <MudItem xs="12">
                <!-- Slider main container -->
                <div class="swiper swiperJsBrand">
                    <!-- To make slider we need to add style for swiper-wrapper is: transition-timing-function: linear -->
                    <div class="swiper-wrapper" style="transition-timing-function: linear;">
                        @foreach (var item in models)
                        {
                            <div class="swiper-slide">
                                <img src="@item.lineTwo">
                            </div>
                        }
                    </div>
                </div>
        </MudItem>
    </MudGrid>
</MudContainer>

@code{

    [Inject]
    private IJSRuntime js { get; set; }

    protected List<BrandLogo> models = new DataBrandLogo().brandLogos;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await js.InvokeVoidAsync("callSwiperJSLogoBrand", null);
        }
    }
}